.gtra--UseGanttTaskReactAdapter {
  --gantt-text-size: 0;

  &_size {
    &_s {
      --gantt-text-size: var(--size-text-2xs);
      --gantt-cell-space: var(--space-s) var(--space-m);
      --gantt-header-space: var(--space-s) var(--space-m);
    }

    &_m {
      --gantt-text-size: var(--size-text-xs);
      --gantt-cell-space: var(--space-xs) var(--space-s);
      --gantt-header-space: var(--space-xs) var(--space-s);
    }

    &_l {
      --gantt-text-size: var(--size-text-s);
      --gantt-cell-space: var(--space-2xs) var(--space-xs);
      --gantt-header-space: var(--space-2xs) var(--space-xs);
    }
  }

  & .content text {
    font-size: var(--gantt-text-size);
    font-weight: var(--font-weight-text-semibold);
    font-style: normal;
    line-height: var(--line-height-text-s);
    text-transform: uppercase;
    fill: var(--color-typo-primary) !important;
  }

  & > div > div > div > svg {
    border-bottom: 1px solid var(--color-bg-border);
  }

  & > div > div > div {
    & > div {
      border: none;

      &:first-child {
        border-bottom: 1px solid var(--color-bg-border);

        & > div {
          & > div {
            padding: var(--gantt-cell-space);
            border-right: 1px solid var(--color-bg-border);
            font-size: var(--size-text-xs);
            font-weight: var(--font-weight-text-bold);
            line-height: var(--line-height-text-m);
            text-transform: uppercase;

            &:nth-child(even) {
              display: none;
            }
          }
        }
      }

      &:nth-child(2) > div {
        border: none;

        & * {
          font-size: var(--gantt-text-size);
          line-height: var(--line-height-text-s);
        }

        & > div > * {
          padding: var(--gantt-cell-space);
          border-right: 1px solid var(--color-bg-border);

          & > div > div:first-child {
            &:empty {
              padding: 0;
            }

            &:not(:empty) {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              margin: 0;
              padding: 0 var(--space-s) 0 0;
              color: transparent;

              &::after {
                content: '';
                position: absolute;
                width: var(--space-2xs);
                height: var(--space-2xs);
                border-left: 1.5px solid var(--color-typo-primary);
                border-bottom: 1.5px solid var(--color-typo-primary);
                transform: rotate(-45deg);
              }
            }
          }
        }

        & > div:nth-child(even) {
          background-color: var(--color-bg-stripe);
        }

        & > div:nth-child(odd) {
          background-color: var(--color-bg-default);
        }
      }
    }
  }

  & .rows {
    & > rect {
      &:nth-child(even) {
        fill: var(--color-bg-stripe);
      }

      &:nth-child(odd) {
        fill: var(--color-bg-default);
      }
    }
  }

  & .ticks,
  & .rowLines {
    display: none;
  }

  & .calendar {
    position: relative;

    & rect {
      stroke: none;
    }

    & text {
      color: var(--color-typo-primary);
      font-family: var(--font-primary);
      font-size: var(--size-text-xs);
      font-weight: var(--font-weight-text-bold);
      line-height: var(--line-height-text-s);
    }
  }

  & div {
    font-family: var(--font-primary);
  }

  & svg > g.calendar {
    height: 58px !important;

    & > rect:first-child {
      fill: var(--color-bg-default);
    }

    & > text {
      fill: var(--color-typo-primary);
    }

    & .calendarTop {
      height: var('--space-2xl') !important;

      & > text {
        fill: var(--color-typo-primary);
      }

      & line {
        stroke: var(--color-bg-border);
      }
    }
  }
}
