.UseGanttTaskReactAdapter {
  --gantt-text-size: 0;
  --gantt-text-line-height: 0;

  &_size {
    &_s {
      --gantt-text-size: var(--size-text-2xs);
      --gantt-text-line-height: var(--space-l);
    }

    &_m {
      --gantt-text-size: var(--size-text-xs);
      --gantt-text-line-height: var(--space-xl);
    }

    &_l {
      --gantt-text-size: var(--size-text-s);
      --gantt-text-line-height: var(--space-2xl);
    }
  }

  & .content text {
    font-size: var(--gantt-text-size);
    font-weight: var(--font-weight-text-semibold);
    font-style: normal;
    line-height: var(--gantt-text-line-height);
    text-transform: uppercase;
    fill: var(--color-typo-primary) !important;
  }

  & > div > div > div > svg {
    border-bottom: 1px solid var(--color-bg-border);
  }

  & .rows > rect:nth-child(even) {
    fill: var(--color-bg-stripe);
  }

  & .ticks,
  & .rowLines {
    display: none;
  }

  & .calendar {
    position: relative;

    & rect {
      stroke: none;
    }

    & text {
      color: var(--color-typo-primary);
      font-family: var(--font-primary);
      font-size: var(--size-text-xs);
      font-weight: var(--font-weight-text-bold);
      line-height: var(--line-height-text-m);
    }
  }

  & div {
    font-family: var(--font-primary);
  }

  & svg > g.calendar {
    height: 58px !important;

    & .calendarTop {
      height: var('--space-2xl') !important;

      & line {
        stroke: var(--color-bg-border);
      }
    }
  }
}
