.GantTaskReactAdapterFullyExample {
  &-Controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    margin-bottom: var(--space-m);
    gap: var(--space-l);
  }
}
